::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.card-image-wrapper {
  overflow: hidden;
  border-radius: 1rem;
}

.card-image {
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.article-card:hover .card-image {
  transform: scale(1.08);
}

.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1;
  color: #ef4444;
  animation: pulse 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.bg-grid-pattern {
  background-image: radial-gradient(#4f46e5 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  opacity: 0.03;
}

.dark .bg-grid-pattern {
  opacity: 0.08;
  background-image: radial-gradient(#6366f1 0.5px, transparent 0.5px);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
  padding-bottom: 4px;
}

.custom-scroll::-webkit-scrollbar {
  height: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
  transition: background 0.3s;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

/* Dark Mode Version */
.dark .custom-scroll {
  scrollbar-color: #334155 transparent;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
  background-color: #334155;
}

.dark .custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #475569;
}
